# Laravel & PHP
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/.phpunit.result.cache
/.phpunit.cache
/.phpactor.json
.env

# Laravel specific (including older versions)
bootstrap/compiled.php
app/storage/
public_html/storage
public_html/hot

# Development & Testing
Homestead.yaml
Homestead.json
/.vagrant
auth.json
npm-debug.log
yarn-error.log

# IDEs and Editors
/.idea
/.vscode
/.nova
/.fleet
/.zed

# Misc
/.DS_Store
Thumbs.db
